*{
	margin: 0;
	padding: 0;
}
h1{
	color: #fca311;
}
label{
	color: #fca311;
}
form{
	background-color:#14213d ;
}
body{
	background-color: #000000;
	/*background-image: url('fondoT.jpg');
	background-repeat: no-repeat;*/
	background-attachment: fixed;
	background-size: cover;
}

thread{
	background-color:#14213d; 
	border-color: #e5e5e5;
}

table{
	width: 90%;
	margin: 40px auto;
	/*background: rgb(124, 154, 167);*/
	color:#fca311;	

}

table.lista{

	text-align: center;
	width: 100%;


}

td{
	background-color: #14213d;
	border: 1px solid #fca311;
	text-align: left;
	padding: 8px 15px;
	
}

tr:nth-child(even), table.lista thread tr{
	background-color: rgb(204, 200, 200);
}

input[type="text"],input[type="number"]{
	width: 90%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid rgb(165, 161, 161);
	border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
	background: #eee;
	padding: 4px 10px;
	margin: 15px 0 10px;
	display: inline-block;
	border: none;
	border-radius: 30px;
	font-size: 1rem;
	cursor: pointer;
	outline: none;
}

input[type="submit"]:hover{
	background: #92FD70;
}

input[type="reset"]:hover{
	background: #C23B22;
}

button{
	background: #eee;
	padding: 6px 12px;
	margin: 15px 0 10px;
	display: inline-block;
	border: none;
	border-radius: 30px;
	font-size: 1rem;
	cursor: pointer;
	outline: none;
}

button:hover{
	background: #F8DA00;
}

div{
	text-align: center;
}

